*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
.btn-primary{
  border-radius: 8px;
  background: #FF900E;
  color: #fff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
/* start header styles */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 30px 240px;
}
main{
  max-width: 1440px;
  margin:70px auto;
}
/* finished header styles */
/* start header styles */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav > ul{
  display: flex;
}
nav  li{
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a{
  text-decoration: none;
  color: #424242;
}
/* start banner section area */
.banner-content{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description{
  color: #727272;
}
.banner img{
  margin-top: 20px;
  width: 100%;
}
/* finish banner section */
/* main section styles */

/* finish main section area */
/* teams styles start */
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title{
  font-size: 2.8rem;
}
.teams-title .quick-list{
  color: #727272;
  font-weight: 500;
}
.teams-title .of-our{
  color:#131313;
  font-weight: 700;
}
.teams-title .text-features{
  color: #FF900E;
  font-weight: 700;
}
/* finish teams features area */
/* start features area */
.features{
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.features-title{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.features-description{
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.features-content .card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-content .card .card-heading{
  color:  #131313;
  font-size: 1.25rem;
  font-weight: 600;
}
.features-content .card .card-title{
  color:  #727272;
  font-size: 1rem;
  font-weight: 400;
}
.features-img img{
  height: 70%;
  margin-left: 100px;
}
.ten-years-badge{
  border-radius: 8px;
  background: #FF900E; 
  color: #FFF;
  width: 342px;
  padding: 30px;
  position: relative;
  bottom: 100px;
}
.ten-years-badge h2{
text-align: center;
font-size: 4rem;
font-weight: 700;
margin: 0;
}
.ten-years-badge p{
font-size: 2rem;
font-weight: 500;
text-align: center;
}
/* finish features area */
/* start facts area */
.facts-title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.facts-description{
  color:#727272;
  font-size: 1rem;
  font-weight: 400;
}
.facts-card-container{
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-starts{
  font-size: 2.8rem;
  color:  #424242;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title{
  color:  #727272;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsers style */
.sponsers{
  text-align: center;
}
.sponsers-title{
  color:  #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.sponsers-description{
  color:  #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;

}
.sponsers-img-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.sponsers-img-container img{
  width: 165px;
}











/* responsive media   queries */
/* mobile device */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsers-img-container,
  .features
  {
    flex-direction: column;
  }
  nav > ul{
    flex-direction: column;
  }
  .features-img img{
    width: 80%;
    margin-left: 0;
    align-items: center;
  }
  .ten-years-badge{
    position: static;
    width: 300px;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teams-content, .facts-card-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container{
    gap: 20px;
  }
}

/* tablet or medium device */
@media screen and (min-width:577px) and (max-width:992px) {
  header{
    padding: 50px;
  }
  nav, 
  .features
  .teams-container,
  .sponsers-img-container
  {
    flex-direction: column;
  }
}